@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: #fff;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  position: relative;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.hidden {
  display: none !important;
}

.container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 600px;

  &-service {
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    padding: 70px 20px 0;
    width: 20%;
    max-width: 300px;
    min-width: 200px;

    &.show {
      display: block;
    }

    h3 {
      position: absolute;
      font-size: 33px;
      margin: 0;
      top: 0;
      left: -70px;
    }
  }
}

img.menu_toggle {
  position: fixed;
  width: 43px;
  top: 5%;
  left: 80vw;
  cursor: pointer;
  z-index: 11;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  // -o-transform: none !important;
  // -moz-transform: none !important;
  // -ms-transform: none !important;
  // -webkit-transform: none !important;
  // transform: none !important;
  animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  -moz-animation: none !important;
  -webkit-animation: none !important;
}

.anim--holder {
  position: absolute;
  top: 0;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
  z-index: 100;
  right: 20px;

  &-img {
    max-height: 20px;
  }
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;

  &.services-all {
    display: none;

    &.show {
      display: block !important;
      padding-top: 20vh;
    }
  }

  .lg-title {
    font-size: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: 0;
  }

  &.home {
    height: calc(100vh - 40px);

    &.show {
      display: block !important;
      -webkit-animation: slide-in-top 1s;
      animation: slide-in-top 1s;
    }
  }

  &.contact {
    position: absolute;
    display: none;
    top: 0;
    background: white;
    padding-top: 10%;

    &.show {
      display: block !important;
      -webkit-animation: slide-in-top 1s;
      animation: slide-in-top 1s;
    }

    .payment {
      margin: 0 auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &.bottom {
    position: absolute;
    background: #333333;
    height: 40px;

    &.hide {
      -webkit-animation: slide-in-bottom 1s;
      animation: slide-in-bottom 1s;
    }

    &.show {
      -webkit-animation: slide-in-top 1s;
      animation: slide-in-top 1s;
      display: block !important;
      height: 100vh;
      top: 0;

      .text-container {
        display: block;
        margin: 10%;
        color: white;
      }

      .services {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: auto;
      }
    }

    .text-container,
    .services {
      display: none;
    }

    .services {
      color: white;
      width: 40%;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 20px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #F01267;
        border-radius: 10px;
        padding: 0 20px;
      }

      &-category {
        min-width: 100%;

        &--title {}

        &--list {
          display: flex;
          flex-direction: column;
        }

        &--element {}
      }
    }

    .show_hidden {
      position: absolute;
      top: 0px;
      height: 40px;
      width: 100vw;
      background: grey;

      img {
        height: 100%;
        left: 50%;
        position: absolute;
        cursor: pointer;

        &.up {
          top: -20px;
          transform: translatex(-50%) rotate(-90deg);
        }

        &.down {
          top: 20px;
          transform: translatex(-50%) rotate(90deg);
        }
      }
    }
  }
}

.contact-form {
  display: block;
  flex-direction: column;
  width: 40%;
  margin: 30px auto;

  input,
  textarea {
    border: none;
    color: #B3B3B3;
    font-size: 20px;

    &::-webkit-input-placeholder {
      font-size: 20px;
      font-family: "Playfair Display", serif;
    }

  }

  input {
    height: 22px;
  }

  &-title {}

  &-field--name {
    width: 50%;
    display: inline;
    float: left;
  }

  &-field--email {
    width: 50%;
    display: inline;
    float: left;
  }

  &-field--textarea {
    width: 100%;
    margin: 20px 0;
  }

  &-send {
    border: none;
    font-size: 20px;
    color: #b3b3b3;
    background: none;
  }
}

nav.desktop_menu {
  position: fixed;
  right: 10vw;
  width: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 5%;
  z-index: 10;

  a {
    font-size: 20px;
    color: grey;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 3px solid grey;
    cursor: pointer;

    &:hover {
      // text-decoration: underline;
      border-bottom: 3px solid #F01267;
      color: #F01267;
    }

    &.white {
      color: white;
      border-bottom: 3px solid white;
    }
  }

  .languages {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &.white {
      color: white;
    }

    span:hover {
      border-bottom: 3px solid #F01267;
      color: #F01267;
    }
  }

}

nav.mobile_menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: white;
  z-index: 10;

  &.animate {
    -webkit-animation: bringMenu 1s;
    animation: bringMenu 1s;
    display: block;
  }

  .top_menu {
    position: absolute;
    width: 10%;
    max-width: 40px;
    top: 5%;
    left: 11%;
  }
}

.container-underline {
  width: 50%;
  margin-left: 10%;

  h3 {
    font-size: 50px;
    margin: 0;
    border-bottom: 2px solid #F01267;
    width: 60%;
  }

  p {}
}

img.logo {
  position: fixed;
  width: 10%;
  max-width: 40px;
  top: 5%;
  left: 11%;
  cursor: pointer;
  z-index: 11;
}

nav.mobile_menu .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  justify-content: space-evenly;

  >p,
  .languages>span {}
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 20px;
}

// span {
//   position: relative;
//   display: block;
//   cursor: pointer;
//   &:before, &:after {
//     content: '';
//     position: absolute;
//     width: 0%;
//     height: 1px;
//     top: 50%;
//     margin-top: -0.5px;
//     background: #fff;
//   }
//   &:before {
//     left: -2.5px;
//   }
//   &:after {
//     right: 2.5px;
//     background: #fff;
//     transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
//   }
//   &:hover {
//     &:before {
//       background: #fff;
//       width: 100%;
//       transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
//     }
//     &:after {
//       background: transparent;
//       width: 100%;
//       transition: 0s;
//     }
//   }
// }

/* Formular */

.round {
  position: relative;
  height: 40px;

  label {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    right: 0;
    position: absolute;
    top: 0;
    width: 28px;

    &:after {
      border: 2px solid #F01267;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
    }

    >p {
      position: absolute;
      font-size: 12px;
      margin: 0;
      width: 15vw;
      text-align: left;
      right: 0px;
      top: 50%;
      transform: translatey(-50%);
    }
  }
}

.old_price {
  text-decoration: line-through;
}

.round input[type="checkbox"] {
  visibility: hidden;

  &:checked+label {
    background-color: transparent;
    border-color: transparent;

    &:after {
      opacity: 1;
    }
  }
}

.final_price {
  text-align: left;
}

/* Switch */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}


// display: -webkit-box;
// display: -ms-flexbox;
// display: flex;
// -webkit-box-flex: 1;
// -ms-flex: 1;
// flex: 1;
// -webkit-box-align: center;
// -ms-flex-align: center;
// align-items: center;
// -webkit-box-pack: center;
// -ms-flex-pack: center;
// justify-content: center;

#container {
  width: 12.25rem;
  height: 5.5rem;
  margin: 0;
}

.toggle {
  position: relative;
  width: 12.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="checkbox"] {
  display: none;
}

img.what_we {
  width: 40%;
  display: block;
  margin-left: 50%;
}

.check-label {
  display: block;
  width: 12.25rem;
  height: 5.5rem;
  border: none;
  border-radius: 3rem;
  background: #d7d7d7;
  cursor: pointer;
  overflow: hidden;

  .face {
    display: block;
    position: absolute;
    content: '';
    top: 0.45rem;
    bottom: 0;
    right: 7.25rem;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
    border: none;
    border-radius: 3rem;
    background: -webkit-linear-gradient(45deg, #dedede 0%, #fff 70%);
    background: -o-linear-gradient(45deg, #dedede 0%, #fff 70%);
    background: linear-gradient(45deg, #dedede 0%, #fff 70%);
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    overflow: hidden;
  }
}

[type="checkbox"] {
  +.check-label #background {
    width: inherit;
    height: inherit;
    border: none;
    border-radius: inherit;
    background: -webkit-gradient(linear, right top, left top, from(#f39ab6), to(#f39af3));
    background: -webkit-linear-gradient(right, #f39ab6, #f39af3);
    background: -o-linear-gradient(right, #f39ab6, #f39af3);
    background: linear-gradient(to left, #f39ab6, #f39af3);
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }

  &:checked+.check-label #background {
    opacity: 1;
  }
}

.face-container {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
}

.face {
  -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
}

.eye {
  position: absolute;
  top: 2.25rem;
  height: 0.25rem;
  width: 0.625rem;
  background: #8e8e8e;
  border-radius: 0 0 100% 50%;

  &.left {
    left: 0.75rem;
  }

  &.right {
    left: 2.125rem;
  }
}

.mouth {
  position: absolute;
  top: 3.125rem;
  left: 1.45rem;
  width: 0.475rem;
  height: 0.25rem;
  background: #8e8e8e;
  border-radius: 40% 40% 100% 50%;
}

.check-label img {
  position: absolute;
  left: 9px;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}

[type="checkbox"] {
  &:checked+.check-label img {
    left: auto;
    right: 9px;
    -webkit-animation: rotateElement forwards 0.3s;
    animation: rotateElement forwards 0.3s;
  }

  +.check-label img {
    -webkit-animation: rotateElementReverse forwards 0.3s;
    animation: rotateElementReverse forwards 0.3s;
  }
}

@-webkit-keyframes bringMenu {
  0% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 00%;
    opacity: 1;
  }
}


@keyframes bringMenu {
  0% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 00%;
    opacity: 1;
  }
}


@-webkit-keyframes rotateElement {
  0% {
    left: 9px;
  }

  25% {
    left: 12%;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    left: 25%;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}


@keyframes rotateElement {
  0% {
    left: 9px;
  }

  25% {
    left: 12%;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    left: 25%;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}


@-webkit-keyframes rotateElementReverse {
  0% {
    left: 9px;
  }

  25% {
    left: 38%;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    left: 25%;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 9px;
    opacity: 1;
  }
}


@keyframes rotateElementReverse {
  0% {
    left: 9px;
  }

  25% {
    left: 38%;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    left: 25%;
  }

  90% {
    opacity: 1;
  }

  100% {
    left: 9px;
    opacity: 1;
  }
}


/* New switch */

.switch {
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;

  input {
    display: none;

    +span {
      padding-left: 50px;
      min-height: 34px;
      line-height: 35px;
      display: block;
      color: #99A3BA;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      transition: color .3s ease;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 30px;
      }

      &:before {
        top: 0;
        left: 0;
        width: 135px;
        height: 35px;
        background: #E4ECFA;
        transition: all .3s ease;
      }

      &:after {
        width: 29px;
        height: 28px;
        background: #fff;
        top: 3px;
        left: -10px;
        box-shadow: 0 1px 3px rgba(18, 22, 33, 0.1);
        transition: all .45s ease;
      }

      em {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #99A3BA;
        position: absolute;
        left: -8px;
        bottom: 5px;
        display: block;
        z-index: 1;
        transition: all .45s ease;

        &:before {
          content: '';
          width: 2px;
          height: 2px;
          border-radius: 1px;
          background: #fff;
          position: absolute;
          display: block;
          left: 50%;
          top: 50%;
          margin: -1px 0 0 -1px;
        }

        &:after {
          content: '';
          display: block;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border: 1px solid #99A3BA;
          border-bottom: 0;
          width: 6px;
          height: 4px;
          left: 1px;
          bottom: 6px;
          position: absolute;
          z-index: 1;
          -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
          transition: all .45s ease;
          -webkit-transform: rotate(-35deg) translate(0, 1px);
          transform: rotate(-35deg) translate(0, 1px);
        }
      }

      strong {
        font-weight: normal;
        position: relative;
        display: block;
        top: 1px;

        &:before,
        &:after {
          font-size: 14px;
          font-weight: 500;
          display: block;
          font-family: 'Mukta Malar', Arial;
          -webkit-backface-visibility: hidden;
        }

        &:before {
          content: '';
          transition: all .3s ease .2s;
        }

        &:after {
          content: '';
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 0;
          color: #5628EE;
          transition: all .3s ease;
          -webkit-transform: translate(2px, 0);
          transform: translate(2px, 0);
        }
      }
    }

    &:checked+span {
      &:before {
        background: rgba(86, 40, 238, 0.35);
      }

      &:after {
        background: #fff;
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
      }

      em {
        -webkit-transform: translate(18px, 0);
        transform: translate(18px, 0);
        background: #5628EE;

        &:after {
          border-color: #5628EE;
          -webkit-transform: rotate(0deg) translate(0, 0);
          transform: rotate(0deg) translate(0, 0);
        }
      }

      strong {
        &:before {
          opacity: 0;
          visibility: hidden;
          transition: all .3s ease;
          -webkit-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
        }

        &:after {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
          transition: all .3s ease .2s;
        }
      }
    }
  }
}

.color_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-image: linear-gradient(270deg, #cc6aa5, #3e91cc, #2dcca7);
  background-size: 600% 100%;
  pointer-events: none;
}

/* 
  
  
  body {
    min-height: 100vh;
    font-family: 'Mukta Malar', Arial;
    line-height: 22px;
    font-size: 16px;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.switch_container .switch {
  display: table;
  margin: 12px auto;
  min-width: 118px;
}

/* You can remove this page div in your website */
#page {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #eee;
}

/* Our normalize css */
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.wrapper {
  width: 690px;
  height: 600px;
  max-height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .top {
    width: 125px;
  }

  .bottom,
  .middle,
  .top {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    color: #4D4D4D;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    &>img {
      height: 100%;
    }

    h2 {
      position: absolute;
      right: 50px;
    }
  }
}

.scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.9;
  transition: opacity 0.12s ease-in-out;
  pointer-events: auto;
  cursor: pointer;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}

.scroller-middle {
  margin-top: 25px;
}

.scroller-top {
  margin-top: -25px;
}


.scroller:hover {
  opacity: 1;
}

.scrolling {
  pointer-events: none;
  opacity: 1;
  // z-index: 1;
}

.scroller__thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 7px;
}

.scroller:before,
.scroller:after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}

.scroller:before {
  top: 49px;
}

.scroller:after {
  bottom: 49px;
}

.scroller-middle>.scroller__thumb {
  border: 5px solid #FFCCBC;
}

.scroller-middle:before,
.scroller-middle:after {
  background: #FFCCBC;
}

.scroller-top>.scroller__thumb {
  border: 5px solid #FFAB91;
}

.scroller-top:before,
.scroller-top:after {
  background: #FFAB91;
}

.animating {
  position: fixed;
  left: 100%;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1.5s linear both;
  animation: slide-in-right 1.5s linear both;
}

/* Services Switcher */

.services_switcher {
  position: absolute;
  display: flex;
  width: 30%;
  min-width: 100px;
  bottom: 40px;
  align-items: center;
  left: 40%;

  &-contact {
    position: initial;
    margin: 20px auto 0;
    justify-content: center;
  }

  .left {
    width: auto;
  }

  .right {
    position: relative;
  }

  .box {
    &.left .text {
      position: absolute;
      top: -20px;
    }

    &.right .text {
      position: absolute;
      left: 60px;
    }

    img {
      cursor: pointer;
      box-shadow: #F11267 0 8pt 26pt;
      border-radius: 50%;

      &.prev {
        height: 35px;
      }
    }
  }

  .bar {
    width: 40px;
    background: #F01267;
    height: 2px;
  }

  .box img.next {
    height: 45px;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    left: 20%;
  }

  20% {
    left: 5%;
  }

  35% {
    left: 10%;
  }

  50% {
    left: 0;
  }

  75% {
    left: 5%;
  }

  100% {
    left: 0;
  }
}


@keyframes slide-in-right {
  0% {
    left: 20%;
  }

  20% {
    left: 5%;
  }

  35% {
    left: 10%;
  }

  50% {
    left: 0;
  }

  75% {
    left: 5%;
  }

  100% {
    left: 0;
  }
}


@-webkit-keyframes slide-in-top {
  0% {
    top: 80%;
  }

  20% {
    top: 60%;
  }


  50% {
    top: 40%;
  }

  75% {
    top: 20%;
  }

  100% {
    top: 0%;
  }
}


@keyframes slide-in-top {
  0% {
    top: 80%;
  }

  20% {
    top: 60%;
  }


  50% {
    top: 40%;
  }

  75% {
    top: 20%;
  }

  100% {
    top: 0%;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    top: 20%;
    height: 80vh;
  }

  20% {
    top: 40%;
    height: 60vh;
  }


  50% {
    top: 50%;
    height: 50vh;
  }

  75% {
    top: 75%;
    height: 25vh;
  }

  100% {
    top: 100%;
    height: 0vh;
  }
}


@keyframes slide-in-bottom {
  0% {
    top: 20%;
    height: 80vh;
  }

  20% {
    top: 40%;
    height: 60vh;
  }


  50% {
    top: 50%;
    height: 50vh;
  }

  75% {
    top: 75%;
    height: 25vh;
  }

  100% {
    top: 100%;
    height: 0vh;
  }
}

.ball_container {
  position: absolute;
  display: flex;
  margin-left: 15px;
  overflow: hidden;
  height: 100vh;
  width: 200vh;
  align-items: flex-end;
  pointer-events: none;
  top: 0;
}

.animContainer {
  width: 20vw;
  height: 100%;
}

@media screen and (min-width: 501px) {

  .mobile_menu,
  .menu_toggle {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  nav.desktop_menu {
    display: none;
  }

  section {
    &.bottom {
      height: 100vh;
      position: relative;

      .text-container,
      .services {
        display: block;
      }
    }

    &.contact {
      display: block;
      position: relative;
    }

  }

  section .lg-title {
    font-size: 4vh;
  }

  .ball_container {
    transform: rotate(90deg);
    margin: 15px 0 0 0;
    height: 170vw;
    width: 100vw;

    .animContainer {

      &:last-child,
      &:nth-child(5n) {
        display: none;
      }
    }
  }

  .animContainer {
    width: 35vw;
  }
}

.posAbs {
  position: absolute;
}

.ball {
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F11267;
  margin: -5px;
}

.line {
  width: 4px;
  height: 100%;
  background-color: #4D4D4D;
  opacity: 0.4;
}

.objectUpDown {
  animation: MoveUpDown 3s infinite alternate;
  bottom: 0;
}

.objectDownUp {
  animation: MoveDownUp 3s infinite alternate;
  bottom: 0;
}

@keyframes MoveUpDown {

  100%,
  0% {
    bottom: 10%;
  }

  100% {
    bottom: 85%;
  }
}


@keyframes MoveDownUp {

  100%,
  0% {
    top: 10%;
  }

  100% {
    top: 85%;
  }
}


.text_holder p {
  padding: 20px 10%;
}

.dark_theme_c {
  color: grey !important;
}

.light_theme_c {
  color: #f7f7f7 !important;
}

.light_theme_bg {
  background: #f7f7f7 !important;
}

.dark_theme_bg {
  background: grey !important;
}

.inactive {
  display: none !important;
}